div.vlp-outer {
  margin-top: 1em;
  background-color: #FD9494;
  display: flex;
}

div.res-outer {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  flex-grow: 1;
}

div.res-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* div.vlp-outer > div */

.nat-btn {
  cursor: pointer;
  border-color: #707070;
  color: #707070;
  border: 1px solid;
  border-radius: 0.25em;
  background-color: transparent;
  padding: 0.2em;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.8em;
  min-width: 4em;
}

div.vlp-inner {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  flex-grow: 0;
}

div.vlp-inner2 {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  flex-grow: 1;
}

div.fft-disp-outer {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  flex-grow: 1;
}

div.fft-disp-middle {
  display: flex;
  flex-direction: column;
}

.fft-disp-inner {
  /* width: 50%; */
  height: 4em;
  background-color: #E5E5E5;
  /* float: right; */
}

input.nat-inpt {
  background-color: transparent;
  border-style: none;
  width: 3em;
}

nav#navbar a {
  color: white;
}

div.pad-top-page {
  height: 1em;
}