<!doctype html>
<html lang="en" ng-app="myApp">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <title>VLP Configuration | vlp.natfaulk.com</title>
  </head>
  <body ng-controller="lights">
    <nav class="navbar navbar-dark bg-dark" id="navbar">
      <span><a>VLP Configuration</a></span>
    </nav>
    <div class="container">
      <div class="pad-top-page"></div>
      <button class="btn btn-secondary" ng-click="page=1" ng-show="page==2">Switch to VLP receiver page</button>
      <button class="btn btn-secondary" ng-click="page=2" ng-show="page==1">Switch to VLP lights page</button>

      <div ng-show="page==1">
          <div class="pad-top-page"></div>
          <button type="button"  class="btn btn-secondary" ng-click="getsettings()">Reload settings</button>
          <button type="button"  class="btn btn-secondary" ng-click="loadpresets()">Load presets</button><a>{{presetstatus}}</a>
          Filter: <input type="text" placeholder="filter" ng-model="filter">
          <i class="fa fa-times" ng-click="filter=''"></i>
          <div class="vlp-outer" ng-repeat="(hwid,light) in lights" ng-show="light.hostname.toLowerCase().includes(filter.toLowerCase())" on-finish-render>
            <!-- <div>{{light}}</div> -->
            <div class="vlp-inner">
              <h1>{{light.hostname}}</h1>
              <span>{{light.ip}}</span>
            </div>
            <div class="vlp-inner">
              <button type="button" class="nat-btn" ng-click="test()">Restart</button>
              <button type="button" class="nat-btn" ng-click="updateFFT(hwid)">Update FFT</button>
              <div>FW Version: {{light.fw_version}}</div>
            </div>
            <div class="vlp-inner">
                <div class="res-inner">
                  <form ng-submit="setbias(hwid)">
                    <span>
                      Signal R: <input type="text" class="nat-inpt" ng-model="light.biasr">
                    </span>
                  </form>
                  <form ng-submit="setsignal(hwid)">
                    <span>
                      Bias R: <input type="text" class="nat-inpt" ng-model="light.signalr">
                    </span>
                  </form>
                </div>
            </div>
            <div class="vlp-inner">
                <div class="res-inner">
                  <form ng-submit="setfreq(hwid, 'ledA')">
                    <span>
                      A: <input type="text" class="nat-inpt" ng-model="light['ledA'].freq">
                      <button type="button" class="nat-btn" ng-click="setenable(hwid, 'ledA','on')" ng-show="light['ledA'].state=='off'">Enable</button>
                      <button type="button" class="nat-btn" ng-click="setenable(hwid, 'ledA','off')" ng-hide="light['ledA'].state=='off'">Disable</button>
                    </span>
                  </form>
                  <form ng-submit="setfreq(hwid, 'ledB')">              
                    <span>
                      B: <input type="text" class="nat-inpt" ng-model="light['ledB'].freq">
                      <button type="button" class="nat-btn" ng-click="setenable(hwid, 'ledB','on')" ng-show="light['ledB'].state=='off'">Enable</button>
                      <button type="button" class="nat-btn" ng-click="setenable(hwid, 'ledB','off')" ng-hide="light['ledB'].state=='off'">Disable</button>
                    </span>
                  </form>              
                  <form ng-submit="setfreq(hwid, 'ledC')">
                    <span>
                      C: <input type="text" class="nat-inpt" ng-model="light['ledC'].freq">
                      <button type="button" class="nat-btn" ng-click="setenable(hwid, 'ledC','on')" ng-show="light['ledC'].state=='off'">Enable</button>
                      <button type="button" class="nat-btn" ng-click="setenable(hwid, 'ledC','off')" ng-hide="light['ledC'].state=='off'">Disable</button>
                    </span>
                  </form>
                </div>
            </div>
            
            <div class="fft-disp-outer">
              <div class="fft-disp-middle">
                <canvas class="fft-disp-inner" id="fft{{hwid}}"></canvas>
              </div>
            </div>
          </div>
      </div>

      <div ng-show="page==2">
        <div class="vlp-outer" ng-repeat="rec in recs track by $index">
          <div class="vlp-inner">
            <h1>{{rec.hostname}}</h1>
            <span>{{rec.ip}}</span>
          </div>
          <div class="vlp-inner2">
            <a><strong>Last seen:</strong> {{rec.timestamppretty}}</a>
            <a><strong>FW Version:</strong> {{rec.version}}</a>
            <a><strong>Hardware ID:</strong> {{rec.hwid}}</a>
          </div>
        </div>
      </div>
      
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.8/angular.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://static1.natfaulk.com/statics/mindrawingjs/build/mindrawing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="static/js/main.js"></script>
  </body>
</html>